<div class="container">
	<div>
		<button mat-icon-button (click)="add()">
			<mat-icon aria-label="Adicionar">add_circle_outline</mat-icon>
		</button>
	</div>
	<div class="subject">
		<div class="row">
			<div class="item-name">{{item.name}}</div>
			<div>{{item.amount}} {{item.unity}}</div>
		</div>
		<div class="row">
			<div class="small">{{item.lastEntranceDate | date:'shortDate'}}</div>
			<div class="small">R$ {{item.lastEntranceValue}}</div>
		</div>
	</div>
	<div>
		<button mat-icon-button (click)="remove()">
			<mat-icon aria-label="Adicionar">remove_circle_outline</mat-icon>
		</button>
	</div>
</div>
<mat-divider></mat-divider>
