<div class="create-new-button" *ngIf="showForm">
	<button mat-raised-button color="primary" (click)="toggleShowForm()">Adicionar novo item</button>
</div>
<div class="create-new-form" *ngIf="!showForm">
	<form [formGroup]="categoryForm">
		<mat-form-field>
			<input matInput placeholder="Nome" formControlName="name" [(ngModel)]="category.name">
		</mat-form-field>
		<div>
			<button mat-raised-button color="primary" (click)="save()" [disabled]="!categoryForm.valid">Adicionar</button>
		</div>
	</form>
</div>
<div class="list-categoriess">
	<mat-list role="list">
		<mat-list-item *ngFor="let category of categories" role="listitem">
			<div>{{category.name}}</div>
			<div></div>
		</mat-list-item>
	</mat-list>
</div>