<div class="create-new-button" *ngIf="showForm">
	<button mat-raised-button color="primary" (click)="toggleShowForm()">Adicionar novo item</button>
</div>
<div class="create-new-form" *ngIf="!showForm">
	<form [formGroup]="itemForm">
		<mat-form-field>
			<input matInput placeholder="Nome" formControlName="name" [(ngModel)]="item.name">
		</mat-form-field>
		<mat-form-field>
			<mat-select placeholder="Categoria" [(value)]="item.categoryId">
				<mat-option *ngFor="let category of categories" [value]="category.id">
					{{ category.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-select placeholder="Unidade" [(value)]="item.unity">
				<mat-option *ngFor="let unity of unities" [value]="unity">
					{{ unity }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<div>
			<button mat-raised-button color="primary" (click)="save()" [disabled]="!itemForm.valid">Adicionar</button>
		</div>
	</form>
</div>
<div class="list-items">
	<div *ngFor="let category of categories">
		<h4>{{category.name}}</h4>
		<div *ngFor="let item of items">
			<mat-list-item *ngIf="item.categoryId == category.id" role="listitem">
				<app-list-item [item]="item"></app-list-item>
			</mat-list-item>
		</div>
	</div>
</div>
